<div class="row no-gutters" id="cental_panel" >
  <div class="col-md-2"></div>

  <div class="col-md-8" >
    <div class="card">
      <div class="card-header h4"> Animal Crossing: New Horizons</div>
      <div class="card-body">
        <p>
          In New Horizons, the player assumes the role of a customizable character who moves to a deserted island after purchasing a package from Tom Nook, a tanuki character who has appeared in every entry in the Animal Crossing series. Taking place in real-time, the player can explore the island in a nonlinear fashion, gathering and crafting items, catching insects and fish, and developing the island into a community of animals.
        </p>

        <app-my-inset></app-my-inset>


      </div>

      <div *ngIf="g.admin">ADMIN MODE</div>


      <div class="card-footer">
        <div class="text-right">
          <button class="btn btn-outline-info" *ngIf="g.admin">submit</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-2"></div>
</div>


