
<div class="row no-gutters">
  <div class="col-sm-12">
    <div class="mask">
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-sm-12 col-xl-8 p-5">

          <div class="jumbotron">
            <h1 class="display-4">Animal Crossing: New Horizons</h1>
            <p class="lead">
              Animal Crossing: New Horizons is a 2020 life simulation video game developed and published by Nintendo for the Nintendo Switch.
              It is the fifth main series title in the Animal Crossing series.

            </p>
            <hr class="my-4">
            <p>New Horizons was released in all regions on March 20, 2020.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/products']">Learn more</a>
          </div>
          <div class="col-xl-2"></div>


        </div>
      </div>
    </div>
      <video src="assets/ac.mp4"
             [autoplay]="true" [muted]="true" [loop]="true" playsinline>
      </video>
  </div>
</div>

